{% extends "turnos_app/index.html" %}

{% block titulo %}
<h1 class="text-uppercase text-white">Iniciar sesión</h1>
{% endblock %}

{% block contenido %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">

            <form method="post" class="card p-4 shadow">
                {% csrf_token %}

                {{ form.non_field_errors }}

                <div class="mb-3">
                    <label class="form-label">Usuario</label>
                    {{ form.username }}
                </div>

                <div class="mb-3">
                    <label class="form-label">Contraseña</label>
                    {{ form.password }}
                </div>

                <button type="submit" class="btn btn-primary w-100">
                    Entrar
                </button>
            </form>

        </div>
    </div>
</div>
{% endblock %}