{% extends "turnos_app/index.html" %}

{% block titulo %}
<h1 class="text-uppercase text-white">Registrarse</h1>
{% endblock %}

{% block contenido %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">

            <form method="post" class="card p-4 shadow">
                {% csrf_token %}

              
                {% if form.errors %}
                    <div class="alert alert-danger">
                        <ul class="mb-0">
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <li>
                                        <strong>{{ field.label }}:</strong> {{ error }}
                                    </li>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                {{ form.as_p }}

                <button type="submit" class="btn btn-primary w-100">
                    Registrarse
                </button>
            </form>

        </div>
    </div>
</div>
{% endblock %}