{% extends "turnos_app/index.html" %}

{% block titulo %}
<h1 class="text-uppercase text-white">Registrarse</h1>
{% endblock %}

{% block contenido %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">

            <form method="post" class="card p-4 shadow">
                {% csrf_token %}

                {{ form.non_field_errors }}
                {{ form.as_p }}

                <button type="submit" class="btn btn-primary w-100">
                    Registrarse
                </button>
            </form>

        </div>
    </div>
</div>
{% endblock %}