{% extends 'turnos_app/index.html' %}

{% block titulo %}


<h1 class="mx-auto my-0 text-uppercase">Especialidades</h1>


{% endblock titulo %}




{% block contenido %}
    

<ul class="list-group">
    {% for e in especialidades %}
        <li class="list-group-item bg-dark" style="color:#d6d6d6;">
            {{ e.nombre }}
        </li>
    {% empty %}
        <li class="list-group-item bg-dark" style="color:#d6d6d6;">No hay especialidades cargadas.</li>
    {% endfor %}
</ul>

{% endblock contenido %}